@keyframes wiggle {
  25% {
    transform: translateX(2%);
  }
  75% {
    transform: translateX(-2%);
  }
}
* {
  text-decoration: none;
  list-style: none;
}

body {
  margin: 0 0 20%;
  min-height: 100%;
}

h2 {
  text-align: center;
  font-family: "roboto";
}

ul {
  padding-left: 0px;
}

h4 {
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  background-color: #579C87;
}
header a {
  color: #FDCB46;
  font-family: "roboto";
}

.menus {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__link {
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0.5rem grey;
  margin: 2rem;
  transition: font-size 300ms ease-in-out, opacity 300ms ease-in-out;
}
.menu__link:hover {
  font-size: 150%;
  opacity: 0.8;
}
.menu__link p {
  font-size: 200%;
  margin-top: 10px;
}
.menu__link--note {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FCDFDB;
  color: #3C1218;
}
.menu__link--note__fas {
  font-size: 200%;
  background: -webkit-linear-gradient(left, #F04A5E, #F78F6A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__link--note h3 {
  font-family: "Devonshire";
}
.menu__link--chic {
  color: #C77412;
  font-weight: bold;
}
.menu__link--chic h3 {
  font-family: "Croissant One";
  background: -webkit-linear-gradient(top left, #C77412, #905BFD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.menu__link--delice {
  color: #229DF9;
}
.menu__link--delice h3 {
  font-family: "Dancing Script";
  background: -webkit-linear-gradient(top left, #0228DD, #229DF9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  text-align: center;
}
.menu__link--palette {
  color: #72BF56;
}
.menu__link--palette h3 {
  font-family: "Kaushan Script";
  background: -webkit-linear-gradient(top left, #3D9339, #BFFF7E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.soon {
  display: flex;
  font-size: 150%;
}
.soon__btn {
  width: 33%;
  min-width: 200px;
  margin: 3% auto;
  font-family: "roboto";
  background-color: #579C87;
  color: #FDCB46;
  border-radius: 13px;
  padding: 0.5rem;
  text-align: center;
}

.menuHeader {
  font-size: 200%;
}
.menuHeader__title {
  margin: 5px;
}

.menuSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menuSection--note {
  font-family: "Devonshire";
}
.menuSection--delice {
  font-family: "Dancing Script";
  color: black;
}
.menuSection--palette {
  font-family: "Kaushan Script";
  color: black;
}
.menuSection--chic {
  font-family: "Croissant One";
}

.menuHeader {
  text-align: center;
  margin-top: 20px;
}
.menuHeader__fas {
  font-size: 200%;
  background: -webkit-linear-gradient(left, #F04A5E, #F78F6A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu {
  margin: 20px;
}
.menu__footer {
  display: flex;
  font-family: "Devonshire";
}
.menu__footer p {
  font-weight: bold;
  margin-left: 5px;
}
.menu__titre {
  font-size: 150%;
}

.menuItem {
  box-shadow: 0 0 0.5rem grey;
  margin: 20px;
}

.item {
  display: flex;
  flex-direction: column;
}

li {
  display: flex;
  justify-content: space-between;
}

.item__price {
  font-weight: bold;
}

.menuDetails {
  padding: 15px;
}
.menuDetails--chic {
  background: -webkit-linear-gradient(top left, #C77412, #905BFD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  background-color: #579C87;
  margin-top: 1%;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer a {
  color: #FDCB46;
  font-family: "roboto";
  margin: 1rem;
}
footer a:hover {
  animation: wiggle 100ms;
  animation-iteration-count: 2;
}

/*# sourceMappingURL=style.css.map */
