$colour-primary:#579C87;
$colour-secondary:#FDCB46;
$laNoteColor: #FCDFDB;
$leChicColor: #fff5fe;
$laDeliceColor: #f9f9f9;
$laPaletteColor: #fdfffd;

$points-duree: 1500ms;
$points-delay: $points-duree/4;

$couleur-back-menuNote: #FCDFDB;
$couleur-texte-menuNote: #3C1218;
$couleur-texte-menuNote1: #F04A5E;
$couleur-texte-menuNote2: #F78F6A;
$couleur-back-menuChic: #FFF5FE;
$couleur-texte-menuChic: #C77412;
$couleur-texte-menuChic1: #A56799;
$couleur-texte-menuChic2: #905BFD;
$couleur-back-menuDelice: #F9F9F9;
$couleur-texte-menuDelice: #229DF9;
$couleur-texte-menuDelice2:#0228DD;
$couleur-texte-menuDelice3: #0670F3;
$couleur-back-menuPalette: #FDFFFD;
$couleur-texte-menuPalette: #72BF56;
$couleur-texte-menuPalette1: #3D9339;
$couleur-texte-menuPalette2: #BFFF7E;

@keyframes points {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50%);
    }

}
@keyframes wiggle {
    25%{
        transform: translateX(2%);
    }
    75%{
        transform: translateX(-2%);
    }
}
////////////*GENERAL*////////////
*{
    text-decoration: none;
    list-style: none;
}

body{
    margin: 0 0 20%;

}


h2{
    text-align: center;
    font-family: "roboto";
}

////////////*HEADER*/////////////
header{
    display: flex;
    justify-content: center;
    background-color: $colour-primary;
    a{
        color: $colour-secondary;
        font-family: "roboto";
    }
}

////////////*MAIN*///////////////
.menus{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.menu__link{
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 0 0.5rem grey;
    margin: 2rem;
    transition: font-size 300ms ease-in-out, opacity 300ms ease-in-out;
    &:hover{
        font-size: 175%;
        opacity: 0.8;
    }
}

.menu__link--note{
    background-color: $laNoteColor;
    color: #3c1218; 
    font-family: 'Devonshire';
    text-align: center;
}
.menu__link--chic{
    background-color: $leChicColor;
    color: #c77412;
    font-family: 'Croissant One';
    text-align: center;
}

.menu__link--delice{
    background-color: $laDeliceColor;
    color: #0887fb;
    font-family: 'Dancing Script';
    text-align: center;
}

.menu__link--palette{
    background-color: $laPaletteColor;
    color: #72bf56;
    font-family: 'Kaushan Script';    
    text-align: center;
}

.soon{
    display: flex;
    justify-content: center;
}

.soon__btn{
    width: 43%;
    min-width: 200px;
    margin: 3% auto;
    font-family: "roboto";
    background-color: $colour-primary;
    color: $colour-secondary;
    border-radius: 13px;
    padding: 0.5rem;
    text-align: center;
    font-size: 150%;
}


///////////*FOOTER*//////////////
footer{
    height: 3rem;
    display: flex;
    justify-content: space-between;
    background-color: $colour-primary;
    margin-top: 1%;
    position: fixed;
    bottom: 0;
    width: 100%;
    a{
        color: $colour-secondary;
        font-family: "roboto";
        margin: 1rem;
        &:hover{
            animation: wiggle 100ms;
            animation-iteration-count: 2;
        }
    }
}






